*{
    margin: 0px;
    font-family: arial;
    border:border-box;
}
.navbar{
    height: 60px;
    background-color:#255f38;
    color:white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-logo{
    height:50px;
    width: 100px;
}
.Amazon-logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
     height:50px;
    width: 100%;
    
}
.border{
    border:1.5px solid transparent;
}
.border:hover{
     border:1.5px solid white;

}
/* box2 */
.add-first{
    color:#cccccc;
    font-size: 0.85rem;
    margin-left: 15px;

}
.add-sec{
    font-size: 1rem;
    margin-left: 3px;

}
.nav-icon{
    display: flex;
    align-items: center;
}
/* box3 */
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: brown;
    width: 620px;
    height:40px;
    border-radius: 4px;
}
.search-select{
    background-color:#f3f3f3 ;
    width:50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input{
    width:100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color:rgb(155, 34, 155);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: none;
    color:white;
    
}
.nav-search:hover{
    border:2px solid orange;
}
/* box4 */
span{
    font-size: 0.7rem;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}
.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}
/* panel */
.panel{
    height: 40px;
    background-color: #1f7d53;
    display: flex;
    color:white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-options p{
    display: inline;
    margin-left: 15px;
    padding:5px 10px;
    border:2px solid transparent;
    transition:0.3s;
    cursor:pointer;
}
.panel-options p:hover{
    border:2px solid rgb(255,255,255,0.6);
    border-radius: 4px;

}
.panel-options{
      width:70%;
    font-size: 0.85rem;
}

.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}
/* hero section */
.hero-section{
    background-image: url("hero_image.jpg");
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg{
    height: 40px;
    background-color: #f5f6f6;
    color:black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width:90%;
    margin-bottom: 25px;
}
.hero-msg a{
    color:#007185;
}
/* shop-section */
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgba(206, 25, 55, 0.945);
    
}
.box{
    /* border: 2px solid black; */
    height: 400px;
    width: 23%;
    background-color: white;
     padding: 20px 0px 15px;
     margin-top: 15px;
}
/* box1 */
.box1-img{
    background-image: url("box1_img.jpg");
    background-size: cover;
    height: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box2-img{
    background-image: url("box2_image.jpg");
    background-size: cover;
    height: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box3-img{
    background-image: url("box3_image.jpg");
    background-size: cover;
    height: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box4-img{
    background-image: url("box4_image.jpg");
    background-size: cover;
    height: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box5-img{
    background-image: url("box5_image.jpg");
    background-size: cover;
    height: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box6-img{
    background-image: url("box6_img.jpg");
    background-size: cover;
    height: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box7-img{
    background-image: url("box7_image.jpg");
    background-size: cover;
    height: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box8-img{
    background-image: url("box8_img.jpg");
    background-size: cover;
    height: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content{
    margin-left: 1rem;
    margin-right: 1rem;

}
.box-content p{
    color: #007185;
    font-size: 0.85rem;
}
/* footer */
.footer{
    margin-top: 20px;

}
.foot-panel1{
    height: 50px;
    background-color: #37475a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
.foot-panel2{
    background-color: #222f3d;
    color:white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top: 30px;
}
ul a{
    display: block;
    font-size: 0.85rem;
    color: #dddddd;
    margin-top: 10px;
}
.foot-panel3{
     background-color: #222f3d;
     color:white;
     border-top: 0.5px solid white;
     height: 70px;
     display: flex;
     justify-content: center;
     align-items: center;

}
.logo{
     background-image: url("amazon_logo.png");
     background-size: cover;
     height:50px;
     width: 100px;

}
.foot-panel4{
    background-color: #0f1111;
    color: white;
   height: 80px;
   font-size: 0.7rem;
    text-align: center;
}
.pages{
   padding-top: 25px;
}
.copyright{
    padding-top: 5px;
}
